.header {
    text-align: center;
}

.accoutNotFound {
    color: red;
}

.form {
    box-shadow: $shadow-soft;
    margin-top: $space-2;
    border: 1px solid $color-border;
    border-radius: $radius-lg;
    padding: $space-6 $space-4;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: $space-2;
    @include for-tablet(){
        max-width: 500px;
    }

    .label {
        display: flex;
        flex-direction: column;
        gap: $space-1;
        font-weight: 500;
    }

    .separator {
        display: flex;
        align-items: center;
        gap:$space-2;
        div {
            width: 90%;
            height: 1px;
            background-color: $color-border;
        }
    }

    .input {
        padding: $space-1;
        border: none;
        border: 1px solid $color-border;
        outline: none;
        border-radius: $radius-md;
    }

    .ctas {
        margin-top: $space-1;
    }

    .noAccout {
        text-decoration: underline;
        font-size: $font-sm;
        color: $foreground-muted;
    }
}