@import '../../sass/variables';
@import '../../sass/mixins';

.Register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9;

  &-form-div {
    position: relative;
    background-color: white;
    width: 90%;
    border-radius: 20px;
    overflow: hidden;

    @include respond-to('medium') {
      max-width: 60%;
    }

    @include respond-to('large') {
      max-width: 35rem;
    }

  }

  &-logo-cont {
    background-color: map-get($colors, 'blue-secondary');
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 2rem;
  }

  &-logo {
    font-size: 1.8rem;
    color: map-get($colors, 'blue');
  }

  &-svg {
    width: 2rem;
    height: 2rem;
  }

  &-form {
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: map-get($colors, 'black');

    @include respond-to('medium') {
      padding: 1.5rem 2rem;
    }
  }

  &-presentation {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }

  &-p {
    font-size: .9rem;
  }

  &-personal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
  }

  &-input {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(219, 219, 219);
    padding: 1rem .5rem;
    outline: none;

    &:focus {
      border-color: map-get($colors, 'blue');
    }

    &::placeholder {
      font-size: 1rem;
      color: rgb(206, 202, 202);
      font-weight: 300;
    }

    @include respond-to('medium') {
      // width: 50%;
    }
  }

  &-error {
    margin-top: .5rem;
    color: transparent;
    font-size: .9rem;
    user-select: none;
  }

  &-register {
    color: map-get($colors, 'black');
  }

  &-btns {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
  }
}