@import '../../../../../sass/variables';

.Search {
  padding: 1rem 2rem;
  width: 40%;
  outline: none;
  border: none;
  border: 1px solid rgb(207, 207, 207);
  border-radius: map-get($radius, 'item');
}