.content {
    width: 100%;
    max-width: 530px;
    
    @include for-tablet(){
        // text-align: center;
        display: flex;
        flex-direction: column;
    }
}

.title {
    &::after {
        content: 'simplificados.';
        color: $color-primary;
    }
}

.text {
    max-width: 680px;
    margin: 0 auto;
    color: $foreground-muted;
}

.media {
    margin-top: $space-4;
    .img {}
    
    @include for-tablet(){
        margin: 0;
    }
}


.ctas {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: $space-1;
    margin-top: $space-3;

    @include for-tablet(){
        flex-direction: row;
    }
}