@import '../../../../../sass/variables';
@import '../../../../../sass/mixins';

.table {
  border-spacing: 0;
  width: 100%;
  margin-top: $space-2;

  .th {
    text-align: start;
  }

  .tr {}

  .tr {
  }

}
