@import '../../../../../sass/variables';
@import '../../../../../sass/mixins';

.Table {
  max-width: 90%;
  margin: 0 auto;

  &-tdbody {
    min-height: 1300px;
  }

  &-input {
    padding: .6rem;
    outline: none;
  }

  &-table {
    // border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid gray;
  }

  &-thead {
    background-color: map-get($colors, 'blue');
    color: white;
  }

  &-th {
    padding: .3rem 0;
    font-weight: normal;
  }

  &-td-price {
    color: green;
    letter-spacing: 2px;
  }

  &-tr {
    &:hover {
      background-color: rgb(242, 242, 242);
    }
  }

  &-delete {
    width: 1.3rem;
    height: 1.3rem;
    color: rgb(240, 65, 65);
    cursor: pointer;
  }

  &-edit {
    width: 1.3rem;
    height: 1.3rem;
    cursor: pointer;
  }

  &-td-action {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }


}

td {
  padding: 1rem 0;
  text-align: center;
}