.section {
    padding: $space-9 0;
    &.light {background-color: $white;}
    &.soft {background-color: $bg-soft;}
    
    .container {
        @include container;
    }
    
    @include for-tablet(){
        .container {
            display: flex;
            align-items: center;
            // cambiar justify en caso de ser necesario
            justify-content: center;
            gap: $space-4; 
            &.column {flex-direction: column;}
            &.row_reverse {flex-direction: row-reverse;}
            &.column_reverse {flex-direction: column-reverse;}
        }
    }
}