@import '../../../../sass/mixins';
@import '../../../../sass/variables';

.BannerTemplate {
  width: 100%;
  max-width: 90rem;
  margin: 0 auto 5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  text-align: center;
  color: map-get($colors, 'black');
  padding: 0 2rem;

  @include respond-to('large') {
    flex-direction: row-reverse;
    align-items: center;
    gap: 3rem;
    margin-bottom: 7rem;
  }

  &-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include respond-to('medium') {
      gap: 2rem;
    }

    @include respond-to('large') {
      width: 50%;
      text-align: start;
    }
  }

  &-item-secondary {
    width: 90%;
    margin: 0 auto;

    @include respond-to('large') {
      width: 45%;
    }
  }

  &-span {
    // font-weight: bold;
    color: map-get($colors, 'purple');
    font-size: 1.2rem;
  }

  &-h2 {
    font-size: map-get($size-h2, 'small');

    @include respond-to('large') {
      font-size: map-get($size-h2, 'large');
    }
  }

  &-p {
    line-height: 1.7;

    @include respond-to('medium') {
      max-width: 45rem;
      margin: 0 auto;
    }
  }

  &-img {
    width: 100%;
    object-fit: cover;
    object-position: top;
    // border-radius: map-get($radius, 'item');
    box-shadow: -5px 8px 20px 0px rgba(128, 128, 128, 0.2509803922);


    @include respond-to('medium') {
      // width: 75%;
    }

    @include respond-to('large') {
      width: 100%;
      // max-height: 25rem;
    }
  }
}