@import '../../../../../sass/mixins';
@import '../../../../../sass/variables';

.NavPcLogged {
  display: none;

  @include respond-to('medium') {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 92rem;
    margin: 0 auto;
    position: relative;
  }

  &-logo {
    color: map-get($colors, 'black');
    font-size: 2rem;
    user-select: none;
  }

  &-svg-logo {
    color: map-get($colors, 'black');
    width: 2.5rem;
    height: 2.5rem;
  }

  &-menu {
    display: flex;
    align-items: center;
    gap: 3rem;
  }

  &-link {
    border-bottom: 2px solid transparent;
    padding: .3rem;
    color: map-get($colors, 'black');
    transition: .5s all ease;
  }

  &-link-active {
    border-bottom: 2px solid map-get($colors, 'blue');
    padding: .3rem;
    color: map-get($colors, 'blue');
  }

  &-menu-logout {
    position: absolute;
    right: 0;
    margin-top: 8rem;
    border: 1px solid rgb(204, 204, 204);
    padding: .5rem 1.5rem;
  }

  &-logout {
    padding: .5rem 2rem;
    border: none;
    background-color: map-get($colors, 'black');
    color: white;
    cursor: pointer;
  }
}