@import '../../../../../sass/mixins';
@import '../../../../../sass/variables';


.CardTools {
  display: flex;
  align-items: center;
  color: map-get($colors, 'blue');
  gap: .5rem;
  padding: .7rem 2rem;
  font-size: .9rem;
  transition: all .3s;
  box-shadow: 1px 5px 37px -14px rgba(41, 41, 41, 0.66);


  &-active {
    background-color: map-get($colors, 'blue');
    color: white;
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .7rem 2rem;
    font-size: .9rem;
    transition: all .3s;
    box-shadow: 1px 5px 37px -14px rgba(41, 41, 41, 0.66);
  }

}