@import '../../../../../sass/mixins';
@import '../../../../../sass/variables';


.CardTools {
  display: flex;
  align-items: center;
  gap: .5rem;
  border: 2px solid rgba(185, 184, 184, 0.705);
  padding: 1rem 2rem;
  font-size: .9rem;
  color: rgba(185, 184, 184, 0.705);
  transition: all .3s;

  &-active {
    display: flex;
    align-items: center;
    gap: .5rem;
    border: 2px solid map-get($colors, 'black');
    padding: 1rem 2rem;
    font-size: .9rem;
    color: map-get($colors, 'black');
  }

  &-title {
    // font-size: 1.1rem;
  }

  // cambiar el link por NavLink para que al hacer click en el viewport no desaparezca el active
}