.PorcentageNormal {

  &-cont {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    gap: 2rem;
  }

  &-calculator {
    background-color: rgba(128, 128, 128, 0.274);
    border: 1px solid gray;
    width: 50%;
  }

  &-res {
    width: 50%;
  }

}