.header {
    text-align: center;
}

.content {
    box-shadow: $shadow-soft;
    margin-top: $space-2;
    border: 1px solid $color-border;
    border-radius: $radius-lg;
    padding: $space-6 $space-4;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: $space-2;
    @include for-tablet(){
        max-width: 500px;
    }

    .label {
        display: flex;
        flex-direction: column;
        gap: $space-1;
        font-weight: 500;
    }

    .input {
        padding: $space-1;
        border: none;
        border: 1px solid $color-border;
        outline: none;
        border-radius: $radius-md;
    }

    .emailSended {
        border: 1px solid green;
        padding: $space-2;
        border-radius: $radius-md;
        color: green;
        font-size: $font-sm;
    }
}