@import '../../../../../sass/mixins';
@import '../../../../../sass/variables';

.Tools {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  user-select: none;

  &-p {
    font-weight: 500;
  }
}