@import '../../../../../sass/mixins';
@import '../../../../../sass/variables';

.Tools {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  user-select: none;
  color: map-get($colors, 'blue');

  &-arrow {
    width: 1.7rem;
    height: 1.7rem;
  }

  &-p {
    font-size: 1.1rem;
    font-weight: 800;
  }

}