@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

html {
  // background-color: $bg-main;
  color: $foreground;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; 
  font-family: "Outfit", sans-serif;
}

a {
  text-decoration: none;
  color: inherit; // Para que no se pongan azules por defecto
  display: inline-block;
  transition: $transition;
  cursor: pointer;
}

button {
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;
  outline: none;
  transition: $transition;
}

ul, ol {
  list-style: none;
}

img, svg {
  max-width: 100%;
  display: block; // Quita el espacio extra que tienen debajo las imágenes
  height: auto;
}

h1 {
  font-size: 48px;
  line-height: 1.1;
  margin-bottom: $space-2;
  color: $foreground;

  @include for-tablet(){
    font-size: 60px;
  }
}

h2 {
  font-size: 48px;
  line-height: 1;
  margin-bottom: 1rem;
}

p {
  line-height: 1.7rem;
}

details::details-content {
  transition: opacity 0.3s ease-in, content-visibility 0.1s allow-discrete;
  opacity: 0;
}

details[open]::details-content {
  opacity: 1;
}

/* Para navegadores basados en Chrome, Safari, Edge y Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Para Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}