.button {
  // background-color: ;
  border: 1px solid $color-border;
  border-radius: $radius-md;
  transition: $transition;
  font-family: "Outfit", sans-serif;
  // box-shadow: $shadow-soft;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $space-1;
  background-color: $color-primary;
  color: $white;
  
  &:hover {
    background-color: $color-primary-dark;
    color: $white;
  }
  
  &.md {
    padding: $space-1 $space-3; // 16px x 32px
    font-size: $font-base;

    .icon {
      width: 1.2rem;
      height: 1.2rem;
    }
  }

  &.sm {
    padding: $space-1 $space-3; // 8px x 24px
    font-size: $font-sm;
  
    .icon {
      width:1rem; // Icono más chiquito para el header
      height: 1rem;
    }
  }

  &.secondary {
    background-color: $white;
    color: $color-primary;

    &:hover {
      // background-color: $white;
      // color: $color-primary;
    }    
  }
}